/.gradle/
core/assets/characters/knightsAnimationSheet.png
core/assets/map/DarkTiles.tsx
core/assets/map/tf_darkdimension_sheet.png
core/assets/map/ashlands_tileset.png
core/assets/map/ashlands_tileset.tsx
core/assets/map/beach_tileset.png
core/assets/map/beach_tileset.tsx
core/assets/map/tf_jungle_tileset.png
core/assets/map/tf_jungle_tileset.tsx
desktop/build/libs/AdventuresOf.jar
desktop/bin
desktop/bin/default
core/build/libs/core-1.0.jar
core/build/libs/core-1.0.jar
*.class
*.class
*.tsx

core/assets/map/desert.png
